name: Build Flutter APK
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # هذه الخطوة ستقوم بإنشاء الملفات الناقصة تلقائياً
      - name: Create missing project files
        run: |
          flutter create --platforms android .
          
      - name: Get dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-calculator-app
          path: build/app/outputs/flutter-apk/app-release.apk
